{% extends "base.html" %}
{% block content %}

<!-- THE BELOW CODE IS THE HOME SECTION TOGETHER WITH THE CAROUSEL-->
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/sl1.jpg" height="706px" width="100%" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="text">
          <h2 style="color:#00FFFF; font-weight:normal; font-family:Comic Sans MS;">Hello, I'm <span class="highlight">Joseph Kang'ethe</span>.</h2>
          <br>
          <h3 style="color:#00FFFF; font-weight:normal; font-family:Comic Sans MS;">I'm a full-stack web developer.</h3>
          <button id="about" type="button" class="btn btn-outline-secondary" style="color:#00FFFF; font-weight:normal; font-family:Comic Sans MS;">View My Work</button>
        </div>

        </div>
      </div>
      <div class="carousel-item">
        <img src="static/sl2.jpg" height="706px" width="100%" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="text">
          <h2 style="color:#00FFFF; font-weight:normal; font-family:Comic Sans MS;">“The most important property of a program is whether it accomplishes the intention of its user.”</h2>
          <br>
          <h3 style="color:#00FFFF; font-weight:normal; font-family:Comic Sans MS;">― C.A.R. Hoare.</h3>
          <button id="about" type="button" class="btn btn-outline-secondary" style="color:#00FFFF; font-weight:normal; font-family:Comic Sans MS;">View My Work</button>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/sl3.jpg" height="706px" width="100%" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="text">
          <h3 style="color:#330000; font-weight:normal; font-family:Comic Sans MS;">“I'm a programmer. I like programming. And the best way I've found to have a positive impact on code is to write it.”</h3>
          <button id="about" type="button" class="btn btn-outline-secondary" style="color:#330000; font-weight:normal; font-family:Comic Sans MS;">View My Work</button>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
<hr style="border: 2px solid #336699; margin-top:0.5px">
<br>
<br>
<!--THE END OF THE HOME SECTION AND THE CAROUSEL-->

<!-- THE BELOW SECTION IS THE CODE FOR THE ABOUT US PAGE-->
<!-- Top content -->
<div class="home" id="about">
     <u style="text-decoration:overline;"><h1 style="text-align:center">ABOUT</h1></u><br>
    <p></p><br><br><p></p>
      <div class="container">
        <div class="row">
          <div class="col-sm mr-2">
              <img src="static/sp.png" alt="" height="100" width="100"><br>
                  <h2 style="font-family:Comic Sans MS;">Fast</h2>
              <p style="font-family:Comic Sans MS; font-size:17px;">Fast load times and lag free interaction, my highest priority.</p>
          </div>

          <div class="col-sm ml-2">
            <img src="static/cp.png" alt="" height="100" width="100"><br>
                <h2 style="font-family:Comic Sans MS;">Responsive</h2>
              <p style="font-family:Comic Sans MS; font-size:17px;">My layouts will work on any device, big or small.</p>
          </div>

          <div class="col-sm mr-2">
            <img src="static/bul.png" alt="" height="100" width="100"><br>
                <h2 style="font-family:Comic Sans MS;">Intuitive</h2>
              <p style="font-family:Comic Sans MS; font-size:17px;">Strong preference for easy to use, intuitive UX/UI.</p>
          </div>

          <div class="col-sm ml-2">
              <img src="static/ro.png" alt="" height="100" width="100"><br>
                  <h2 style="font-family:Comic Sans MS;">Dynamic</h2>
              <p style="font-family:Comic Sans MS; font-size:17px;">Websites don't have to be static, I love making pages come to life.</p>
          </div>
        </div>
      </div>
</div><br><br><br>
<!-- THE ABOVE CODE IS FOR THE ABOUT US PAGE-->

<!-- THIS  SECTION IS FOR THE ABOUT SKILLS THAT I POSSES -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="static/0.jpg" alt="" style="border-radius:100px; margin-left:90px;" height="350px" width="350px">
      <h2 style="margin-left:120px; font-family:Comic Sans MS;">Who's this guy<img src="static/db.jpg" alt="" height="40px" width="40px">?</h2>
  <p style="font-family:Comic Sans MS; font-size:17px;">I'm a full-stack web developer at Mobiwecraft ltd and a Backend developer at DailyInformer.co.ke, OR.
I have serious passion for <span style="margin-left:36px;">Restful APIs and Backend development, Test Driven Development and creating intuitive, dynamic user experiences.</span>
<br><span style="margin-left:50px;">Let's make something special.</span></p>
    </div>
    <div class="col-sm">
      <p><img src="static/py.png" alt="" height="150px" width="150px" style="padding: 0 1px; float: left;"><p style="float:right; font-size:100px; font-family:Comic Sans MS;"></p>
      <p style="padding:20px; font-family:Comic Sans MS; font-size:50px; color:#0033FF">90%</p>
    </div>
    <div class="col-sm">
      <p><img src="static/dja.png" alt="" height="150px" width="150px" style="padding: 0 1px; float: left;"><p style="float:right; font-size:100px; font-family:Comic Sans MS;"></p>
      <p style="padding:20px; font-family:Comic Sans MS; font-size:50px; color:#006600">75%</p><br>
      
      </div>

  </div>
</div>

<!--THEEND: THE CODE ABOVE IS FOR THE ABOUT SKILLS AND HERE IT IS WHERE IT ENDS -->
{% endblock %}
